form {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto auto;
  font-size: 20px;
  margin-top: 40px;
  border: 1px solid black;
  padding: 25px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form > label {
  font-weight: bold;
}

form > button {
  width: fit-content;
  margin-left: auto;
  font-size: 18px;
}

p {
  font-style: italic;
}

select {
  height: 35px;
  width: 120px;
  font-size: inherit;
  margin-bottom: 40px;
}

