table {
  font-size: 18px;
  border-bottom: 1px solid black;
}

table thead th {
  padding: 5px;
}

table td {
  padding: 5px;
  text-align: center;
}

form * {
  padding: 5px;
  border-radius: 5px;
}

#flight-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  border: 1px solid black;
  padding: 15px;
}

section div:nth-child(even) {
  font-weight: bold;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}

#meals-tickets {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-column-gap: 100px;
  padding: 15px;
}

#add-ticket-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
}

#add-ticket-form > label {
  text-align: center;
}

#add-ticket-form > button {
  font-size: 16px;
  grid-column: 2 / 3;
  place-self: center;
  margin-bottom: 24px;
}

#add-meal-form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

#add-meal-form > button {
  font-size: 16px;
  height: 30px;
  width: 100px;
}

#meal-dropdown {
  height: 30px;
  width: 200px;
  margin-bottom: 16px;

}